---
import { Icon } from "astro-icon/components";
import Button from "../../components/shared/Button.astro";
import Layout from "../../layouts/Layout.astro";
import { SITE } from "../../config";
---

<!-- TODO: CREATE SUCCES PAGE ON FORM SUBMIT -->
<Layout activeNav="contact-us">
  <main class="bg-black py-12 sm:py-24 px-8">
    <!--  -->
    <!-- TODO: use params in astro -->
    <div class="container bg-white">
      <div class="mx-auto w-full max-w-xl py-24">
        <h1 class="font-bold text-3xl text-center mb-8">
          Get in touch with Us
        </h1>
        <!-- Contact form -->
        <div class="text-center prose prose-p:text-gray-700">
          <div
            class="h-48 text-white w-48 grid place-items-center rounded-full !bg-green-600 mx-auto"
          >
            <Icon name={"mdi:check"} size={72} />
          </div>
          <h2>We've duly acknowledged your request</h2>
          <p>We will be in touch</p>
        </div>

        <!--  -->
        <div
          class="mt-8 py-12 px-8 sm:px-0 pt-20 relative border-gray-400 border-t"
        >
          <p
            class="text-2xl font-bold shadow-sm rounded-sm absolute top-[-18px] left-[50%] -translate-x-[50%] px-6 py-2 bg-white"
          >
            or
          </p>

          <div class="">
            <h1 class="mb-12 font-bold text-2xl text-center text-gray-700">
              Reach out to us @
            </h1>

            <div
              class="mb-6 text-gray-700 flex flex-col gap-4 md:gap-6 text-sm"
            >
              <!-- School Location -->
              <a href={SITE.location.link} class="flex gap-3">
                <Icon size={20} name={"mdi:location"} />

                <p>{SITE.location.address}</p>
              </a>

              <!-- School Phone Number -->
              <a href=`mailto:${SITE.email}` class="flex gap-3">
                <Icon size={20} name={"mdi:phone-outline"} />

                <p>08036960509</p>
              </a>

              <!-- School Email -->
              <a href=`mailto:${SITE.email}` class="flex gap-3">
                <Icon size={20} name={"mdi:envelope-outline"} />

                <p>{SITE.email}</p>
              </a>
            </div>

            <div class="flex gap-4 items-center">
              <div
                class="h-8 grid place-items-center w-8 border border-blue-500 rounded-lg"
              >
                <Icon size={24} class={"text-blue-500"} name={"mdi:facebook"} />
              </div>
              <div
                class="h-8 grid place-items-center w-8 border border-blue-950 rounded-lg"
              >
                <Icon size={24} class={"text-blue-950"} name={"mdi:twitter"} />
              </div>
              <div
                class="h-8 grid place-items-center w-8 border border-red-500 rounded-lg"
              >
                <Icon size={24} class={"text-red-500"} name={"mdi:youtube"} />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  form {
    @apply px-6 py-8 grid gap-8;
  }
  .formControl {
    @apply flex w-full flex-col gap-2;
  }

  .formControl label {
    @apply font-medium text-sm tracking-wide;
  }

  .formControl input {
    @apply px-4 py-2 w-full rounded-xl border-gray-400;
  }
</style>
