---
import { SITE } from "@config";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<footer class="px-4 py-16 text-sm">
  <div class="container">
    <div class="grid mb-12 sm:grid-cols-4 gap-4 sm:gap-6">
      <!-- Column 1 -->
      <div class="col-span-2 pr-4 flex flex-col gap-4 md:gap-6">
        <!-- School logo -->
        <a class="flex gap-4 items-center mb-2" href=""
          ><Image
            alt={"sd"}
            src={"https://res.cloudinary.com/dx9rpvjcw/image/upload/v1703912088/logos/fb10n60uzloadt3ay6jx.png"}
            height={48}
            width={48}
          />

          <div class="flex flex-col">
            <p>GOSHEN GROUP OF SCHOOLS</p>
            <p class="text-xs font-bold">CRE . NUR . PRI . SEC</p>
          </div>
        </a>

        <!-- School Location -->
        <a href={SITE.location.link} class="flex gap-4 pl-4">
          <Icon size={12} height={16} name={"mdi:location"} />

          <p>{SITE.location.address}</p>
        </a>

        <!-- School Phone Number -->
        <a href=`mailto:${SITE.email}` class="flex gap-4 pl-4">
          <Icon size={4} height={4} name={"mdi:phone"} />

          <p>08036960509</p>
        </a>

        <!-- School Email -->
        <a href=`mailto:${SITE.email}` class="flex gap-4 pl-4">
          <Icon size={4} height={4} name={"mdi:envelope"} />

          <p>{SITE.email}</p>
        </a>
      </div>

      <!-- Column 2 - Quick Links -->
      <div class="flex flex-col gap-4 md:gap-6">
        <h3 class="font-bold mb-4">Quick links</h3>

        <nav class="flex flex-col space-y-2">
          <a href="">Home</a>
          <a href="">About us</a>
          <a href="">News and Updates</a>
          <a href="">Gallery</a>
          <a href="">Portal</a>
        </nav>
      </div>

      <!-- Column 3 - Follow us -->
      <div class="flex flex-col gap-4 md:gap-6">
        <h3 class="font-bold mb-4">Follow Us</h3>

        <nav class="flex flex-col space-y-4">
          <a href="">
            <Icon name={"mdi:facebook"} />
          </a>
          <a href=""> <Icon name={"mdi:twitter"} /></a>
          <a href=""> <Icon name={"mdi:linkedin"} /></a>
        </nav>
      </div>
    </div>
    <small class="text-center block">
      Copyright &copy; 2023 Gochen Group of Schools. All Rights Reserved
    </small>
  </div>
</footer>

<style>
  footer {
    background: rgb(138, 18, 191);
    background: linear-gradient(
      90deg,
      rgba(138, 18, 191, 1) 0%,
      rgba(20, 9, 130, 1) 49%,
      rgba(39, 28, 128, 1) 100%
    );
    color: white;
  }
</style>
